<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Vonage - Nodejs</title>
    <link href="/css/style.css">
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
    <script type="text/javascript">
        let apiKey = '<%= apiKey %>';
        let sessionId = '<%= sessionId %>';
        let token = '<%= token %>';
    </script>

</head>
<body>
<h2>Nodejs Server Implementation</h2>

<div id="videos">
        <div id="subscriber"></div>
        <div id="publisher"></div>
    </div>
<script src="/js/app.js"></script>
</body>
</html>